body {
background-color: rgb(177, 108, 108);
padding: 100px;
background-image: url("https://i.pinimg.com/1200x/d0/51/fa/d051fa3a0420c927aa97d8805af648eb.jpg");
background-size: cover;

}



h1 
{color: brown;

    text-align : center;
    font-size: 80px;
    margin: 100px;
}

h2{
    color: darkred;
     text-align : center;
     font-size: 50px;
     
}

p{

    color: black;
    font-size: 40px;
     text-align : start;
     margin: 100px;

}
li{
    color: darkred;
    font-size: 20px;
}

.box {
  display: flex;
  

}
.box p {
  margin: 10;
  font-size: 20px;
}


#addBtn{
  color: palevioletred ;
  padding: 10px;
  border-radius: 10px;
}

#tasklist button{
  color: palevioletred ;
  padding: 2px;
  border-radius: 7px;
}